
* {
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0px;
}

p {
    font-size: 21px;
    margin-left: 5%;
    margin-right: 8%;
}

/* Grid view. Source https://www.w3schools.com/css/css_rwd_grid.asp */
[class*="col-"] {
    float: left;
    padding: 1px;
    border: 0px solid red;
}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Tablet */
@media only screen and (max-width: 768px) {

    [class*="col-"] {
        width: 100%;
    }
    #mobil{
        border-top: 0px solid black;
        border-bottom: 0px solid black;
    }
    .header h1 {
        font-size: 21px;
    }
}

/* Mobil source: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
@media screen and (max-width: 600px) {
    .meny a {display: none;}
    .meny a.ikon {
        float: left;
        display: block;
        margin-left: 5%;
    }

}

@media screen and (max-width: 600px) {
    .meny.responsive {position: relative;}
    .meny.responsive .ikon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .meny.responsive a {
        float: left;
        display: block;
        text-align: left;
    }
    p {
        margin: 5%;
    }

}

/*klarerer flyten*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*header*/
.header h1 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.header {
    margin-top: 35px;
    font-size: 44px;
    font-family: "Calibri Light";
}

/* meny*/
.meny {
    padding: 0px;
    padding: 0px;
    opacity: 70%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 25px;
}

.meny a {
    text-decoration: none;
    color: black;
}

.meny a:hover {
    color: white;
    display: inline;
    background-color: black;

}

div.meny {
    margin-bottom: 1%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*main innhold*/
.main {
    height:85vh;
}

.meny .ikon {
    display: none;
}

/*bilder*/
img.col-6 {
    width: 100%;
    float: left;
}

#image {
    font-size: 16px;
}

/*Discographyside*/
.disco th {
    background-color: gainsboro;

}
.disco {
    font-size: 20px;
}

